html.magnifying > body {
	overflow-x: hidden !important;
}
.magnify {
	position: relative;
	display: inline-block;
	width:100%;
	@include mq(tablet) {  }
	@include mq(lap) { width:15%;}
	@include mq(desk) {  }
	 
}
.magnify .magnify-lens {
	/* Create the magnifying lens */

	/* solo para móviles*/
	@include mq(max-tablet) { display:none !important;}

	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	box-shadow: 0 0 0 3px transparentize($primary,0),
		0 0 3px 4px rgba(0, 0, 0, 0.25);
	/* Hide the mouse pointer */
	cursor: none;
	/* Hide the lens by default */
	display: none;
	/* Place the lens on top of other elements */
	z-index: 100;
}
.magnify .magnify-lens.loading {
	background: #333 !important;
	opacity: 0.75;
}
.magnify .magnify-lens.loading:after {
	/* Loading text */
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
	color: #fff;
	content: 'Loading...';
	font: italic normal 16px/1 Calibri, sans-serif;
	text-align: center;
	text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
	text-transform: none;
}