// Section about-vision
.about-vision {
	background: #efede4;
	padding: 2em .5em 0;
	text-align: center;
	@include mq(tablet) { padding: 2em 2.5% 0; }
	@include mq(lap) { padding: 4em 10%; }
	@include mq(desk) { padding: 4em 15% 4em 10%; }   

	.about-vision__item-content {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 1em;
		@include mq(tablet) { }
		@include mq(lap) { margin-bottom: 2em; }
		@include mq(desk) { }   
	}

	.about-vision__item-title {
		position:relative;
		color: $primary;
		font-size: 2.5em;
		text-align: left;
		text-transform: uppercase;
		margin: 0;
		@extend %col-2-5;
		@include mq(tablet) { padding-top: 20px; }
		@include mq(lap) { margin: 0 0 2em 0; padding-top: 20px; }
		@include mq(desk) { }   

		&::before {
			content:"";
			@include dot-line(80%, 0, 0);
		}
	}

	.about-vision__item-description {
		position:relative;
		font-size: .95em;
		text-align: left;
		@extend %col-3-5;
		@include mq(tablet) {  }
		@include mq(lap) { padding-top: 30px; }
		@include mq(desk) { }   

		&::before {
			@include mq(tablet) { }
			@include mq(lap) { 
				content:"";
				@include dot-line(100%, 0, 0);
			}
			@include mq(desk) { }		
		}

	}
}


// Section banner about-question
.about-question {
	background: #efede4;
	padding: 4em 10%;
}


// Section about-questions
.about-questions{
	background: #efede4;
	padding: 1em .5em;
	@include mq(tablet) { padding: 2em 2.5%; }
	@include mq(lap) { padding: 3em 5%; }
	@include mq(desk) { padding: 5em 10%; }

	.about-thequestion__wrapper{
		margin-bottom: 1em;

		//dotted top line
		&:first-of-type {
		
			.about-thequestion__item {
				padding-top: 1em;
				@include mq(tablet) { }
				@include mq(lap) {padding-top: 3em;  }
				@include mq(desk) { }

				&::before {
					content:"";
					@include dot-line(85%, 0, 0);
				}
			}

			.about-thequestion__answer {
				padding-top: 1em;
				@include mq(tablet) { }
				@include mq(lap) {
					padding-top: 3em;

					&::before {
						content:"";
						@include dot-line(100%, 0, 0);
					}
				}
				@include mq(desk) { }
			}
		}
		
		//dotted bottom line
		&:last-of-type {
		
			.about-thequestion__item {
				@include mq(tablet) { padding-bottom: 3em;  }
				@include mq(lap) {
					padding-bottom: 4.6em;
					&::before {	
						content:"";
						@include dot-line(85%, 100%, 0);
					}				
				}
				@include mq(desk) { padding-bottom: 3em;  }
			}

			.about-thequestion__answer {
				padding-bottom: 1em;
				@include mq(tablet) { }
				@include mq(lap) { padding-bottom: 3em; }
				@include mq(desk) { }

				&::before {
					content:"";
					@include dot-line(100%, 100%, 0);
				}

				p {
					margin: 0;
				}
			}
		}
	}

	.about-thequestion__item {
		position:relative;
		color: $primary;
		@extend %col-2-5;

		.about-thequestion__number {
			border: 3px solid $primary;
		    border-radius: 20px;
		    display: inline-block;
		    margin: 0 2em 0 0;
		    text-align: center;
		    width: 33px;
		    height: 33px;
		    @include mq(tablet) { }
			@include mq(lap) { }
			@include mq(desk) { }

		}

		.about-thequestion__number--div{
			font-size: 1em;
			@extend %col-2-3;
			@include mq(tablet) { width: auto;}
			@include mq(lap) { width: 70%; }
			@include mq(desk) { }
		}
	}

	.about-thequestion__answer {
		position:relative;
		@extend %col-3-5;
		@include mq(tablet) { }
		@include mq(lap) { }
		@include mq(desk) { padding:  0 4em 0 0; }
	}
}


//Section Contact us

.about-contact {
	background-color: #fff;
	padding: 1em .5em;
	@include mq(tablet) { padding: 1em 2.5%;}
	@include mq(lap) { padding: 3em 5% 2em; }
	@include mq(desk) { padding: 4em 10% 3em; }
	
	.about-contact__item-content{
		@extend %col-2-5;
		position: relative;
		@include mq(tablet) { padding: 0;}
		@include mq(lap) { padding: 0 5em 0 2em;  }
		@include mq(desk) { }

		.about-contact__text{
			padding-top: 1em;
			position: relative;
			font-size: 1em;
			@include mq(tablet) { padding-top: 1em;}
			@include mq(lap) { padding-top: 3.5em; }
			@include mq(desk) { }
		}

		.title_dotted {
			&::before {
				content:'';
				@include dot-line(100%, 0px, 0px);
			}
		}

		.about-contact__adresses, .about-contact__adresses a  {
		    color: $primary;
		    font-size: 1em;
		    font-weight: bold;
		    margin-top: 1.5em;
		    position: relative;
		}
		
		.about-contact__title {
		    font-size: 1.1em;
		    font-weight: normal;
		}
	}
	.title_dotted-bas {
		padding-bottom: 1em;
		@include mq(tablet) {padding-bottom: 1em;}
		@include mq(lap) { padding-bottom: 2.2em; }
		@include mq(desk) { padding-bottom: 3.5em; }

		&::after {
			content:'';
			@include dot-line(100%,100%, 0px);
		}
	}	

	.about-contact__form {
		padding:  2em 0 0;
		@extend %col-3-5;
		@include mq(tablet) { padding:  2em 2.5%;}
		@include mq(lap) { padding:  0 4em 0 2em; }
		@include mq(desk) { }

		input[type="text"], input[type="email"], textarea, input[type="submit"] {
		    background-color: #fff;
		    border: 2px solid $secondary;
		    color: $secondary;
		    padding: 10px;
		    width: 100%;
		}

		input[type="submit"]{ 
			background-color: $secondary; 
			color: #FFF;
		}
	}	
}
