.content-area {
	position: relative;
}

// Section home-description
.home-description {
	background: $primary;
	color: #fff;
	text-align: center;
	font-size: 1em;
	@include mq(tablet) {font-size: 1.25em; }

	.home-description--wrapper {
		padding: 1em .5em;
		@include mq(tablet) { padding: 2em 10%; }
		@include mq(lap) { padding: 2em 10%; }
		@include mq(desk) { padding: 3em 12em; max-width: $max-width; margin: 0 auto; position: relative;}
	}
}

// Section home-products
.home-products {
	background: $tertiary;
	overflow: hidden;
	@include mq(tablet) { }
	@include mq(lap) { background: url('img/bg-home-product.png') no-repeat bottom right $tertiary;  }
	@include mq(desk) { }

	.home-products--wrapper {
		padding: 1em 1em 2em;
		@include mq(tablet) { padding: 2em 10%; }
		@include mq(lap) { padding: 3em 10% 3em;  }
		@include mq(desk) { padding: 3em 0 3em; max-width: $max-width; margin: 0 auto;  }		
	}

	.home-products__image {
		position:relative;
		height: 430px;
		margin-top: 2em;
		@extend %col-2-5;
		@include mq(mobile) { margin-top: 3em; }
		@include mq(tablet) { margin-top: 5em; }
		@include mq(lap) {      margin-top: 5em; }
		@include mq(desk) { padding: 2em; height: 600px; margin-top: 0;}
	}

	.home-products__image-seed {
		position: absolute;
		top: 40%;
		left:50%;
		width: 80%;
		@include mq(mobile) { width: 50%; }
		@include mq(tablet) { }
		@include mq(lap) { width: auto; }
		@include mq(desk) {  }
		
	}

	.home-products__image-pouch {
		position:absolute;
		top: 50%;
		left:50%;
		width: 80%;
		@include mq(mobile) { width: 50%; }
		@include mq(tablet) { }
		@include mq(lap) { width: auto;  }
		@include mq(desk) { }
	}

	.home-products__content {
		text-align: center;
		@extend %col-3-5;
		@include mq(tablet) { text-align: left; padding-bottom: 3em; margin-top: 1em;}
		@include mq(lap) { }
		@include mq(desk) { padding: 0 10em 0 4em; }
	}

	.home-products__title {
		color: $primary;
		font-size: 2em;
		line-height: 1.2em; 
		text-transform: uppercase;
		margin-bottom: 0;
		margin-top: .5em;
		text-align: center;
		@include mq(tablet) { font-size: 3em; line-height: 1.2em; text-align: left; margin: 0; }
		@include mq(lap) { margin: 1em 0 0.25em;}
		@include mq(desk) { margin-bottom: .25em; }		
	}

	.home-products__description {
		margin-bottom: 2em;
	}

	.home-products__button {
		display: inline-block;
		background: $primary;
		text-transform: uppercase;
		color:#fff;
		padding: 1em 3em;
		border-radius: 20px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	}

}

// Section home-recipes
.home-recipes {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1em 0 .5em;
	@include mq(tablet) { padding: 5em 0 2em;  }
	@include mq(lap) { }
	@include mq(desk) { }

	.home-recipes__description {
		margin-top: 1.5em;
		color:#fff;
		text-align: center;
		background: transparentize($primary, .2);
		padding: 1em 0;
		@include mq(tablet) { padding: 1.5em 0;  }
		@include mq(lap) { }
		@include mq(desk) { }
	}

	.home-recipes__title {
		text-transform: uppercase;
		font-size: 1.5em;
		color:#fff;
		@include mq(tablet) { font-size: 2.5em;  }
		@include mq(lap) { }
		@include mq(desk) { }
	}

	.home-recipes__content {
		padding:0 1em;
		@include mq(tablet) { padding:0 25%; }
		@include mq(lap) { }
		@include mq(desk) { }
	}

}
