.content-area {
	position: relative;
}

// Section home-description
.home-description {
	background: $primary;
	color: #fff;
	text-align: center;
	padding: 3em 20%;
	font-size: 1.25em;
}

// Section home-products
.home-products {
	background: url('img/bg-home-product.png') no-repeat bottom right $tertiary;
	padding: 2em 10%;

	.home-products__image {
		@extend %col-2-5;
	}

	.home-products__content {
		@extend %col-3-5;
	}

	.home-products__title {
		color: $primary;
		font-size: 3em;
		text-transform: uppercase;
	}

	.home-products__description {
		margin-bottom: 2em;
	}

	.home-products__button {
		background: $primary;
		text-transform: uppercase;
		color:#fff;
		padding: 1em 3em;
		border-radius: 20px;
	}

}

// Section home-recipes
.home-recipes {
	background: url('img/bg-recipe-wood.png') repeat;
	padding: 5em 0 2em;

	.home-recipes__description {
		margin-top: 2em;
		color:#fff;
		text-align: center;
		background: transparentize($primary, .2);
		padding: 2em 0;
	}

	.home-recipes__title {
		text-transform: uppercase;
		font-size: 2.5em
	}

	.home-recipes__content {

	}

}
