.content-area {
	position: relative;
}

// Section home-description
.home-description {
	background: #fff;
	color: grey;
	text-align: center;
	font-size: 1em;
	// @include mq(tablet) {font-size: 1.25em; }

	.home-description--wrapper {
		padding: 1em .5em;
		@include mq(tablet) { padding: 2em 10%; }
		@include mq(lap) { padding: 2em 10%; }
		@include mq(desk) { padding: 3em 10em 3.7em; max-width: $max-width; margin: 0 auto; position: relative;}

		p {
			display: inline;
		}
	}

	.home-description__title {
		font-size: 2em;
		line-height: 1.2em; 
		margin: 0.6em 0 0.5em;
		@include mq(tablet) { font-size: 3em; line-height: 1em;  }
		@include mq(lap) { }
		@include mq(desk) { font-size: 3.75em; }
	}

	.home-description__description {
		position:relative;
		
		&::after {
			content:"";
			position: relative;
			width: 30%;
		    margin: 0 auto;
    		display: block;
			height: 4px;
			margin-top: 2.75em;
			background: url(img/bg-line-dot-separator.png) x-repeat;
		}

	}

}

// Section home-products
.home-products {
	background: $tertiary;
	overflow: hidden;
	@include mq(tablet) { }
	@include mq(lap) { background: url('img/bg-home-product.png') no-repeat bottom right $tertiary;  }
	@include mq(desk) { }

	.home-products--wrapper {
		padding: 1em 1em 2em;
		color:#fff;
		@include mq(tablet) { padding: 2em 10%; }
		@include mq(lap) { padding: 3em 10% 4em;  }
		@include mq(desk) { padding: 3em 0 3em; max-width: $max-width; margin: 0 auto;  }		
	}

	.home-products__image {
		position:relative;
		height: 430px;
		margin-top: 2em;
		@extend %col-2-5;
		@include mq(mobile) { margin-top: 3em; }
		@include mq(tablet) { margin-top: 5em; }
		@include mq(lap) {      margin-top: 0; height: 600px; }
		@include mq(desk) { padding: 2em; }
	}

	.home-products__image-seed {
		position: absolute;
		// top: 40%;
		left:50%;
		width: 80%;
		transform: translate(-50%, -50%);
		@include mq(mobile) { width: 50%; }
		@include mq(tablet) { }
		@include mq(lap) { width: auto; }
		@include mq(desk) {  }
		
	}

	.home-products__image-pouch {
		position:absolute;
		// top: 50%;
		left:50%;
		width: 80%;
		transform: translate(-50%, -50%);
		@include mq(mobile) { width: 50%; }
		@include mq(tablet) { }
		@include mq(lap) { width: auto;  }
		@include mq(desk) { }
	}

	.home-products__content {
		text-align: center;
		@extend %col-3-5;
		@include mq(tablet) { text-align: left; padding-bottom: 3em; margin-top: 1em;}
		@include mq(lap) { }
		@include mq(desk) { padding: 0 10em 0 4em; }
	}

	.home-products__title {
		color: #fff;
		font-size: 2em;
		line-height: 1.2em; 
		text-transform: uppercase;
		margin-bottom: 0;
		margin-top: .5em;
		text-align: center;
		@include mq(tablet) { font-size: 3em; text-align: left; margin: 0; }
		@include mq(lap) { margin: 1em 0 0.25em;}
		@include mq(desk) { margin-bottom: .25em; }		
	}

	.home-products__description {
		margin-bottom: 2em;
	}
}

.home-products__button {
	display: inline-block;
	background: #fff;
	text-transform: uppercase;
	color:#fff;
	padding: 1em 3em;
	border-radius: 20px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.product-item_1 {
	background: $mango;

	.home-products__button {
		color: $mango;
	}	
}

.product-item_2 {
	background: $beet;

	.home-products__button {
		color: $beet;
	}	
}

.product-item_3 {

	.home-products__title {
		color: $primary;
	}

	.home-products__description {
		color: $secondary;
	}

	.home-products__button {
		background: $primary;
	}	
}

.section-home__footer {

	.home-products__button {
		color: #707070;
		margin-top: 1.8em;
	}
}

// Section Home page footer
.section-home__footer { 
	height: 350px;
	padding: 4em 0.5em 0;
	@include mq(tablet) { padding: 6em 0 0; height: 400px; }
	@include mq(lap) { padding: 8.5em 0 0; height: 520px; }
	@include mq(desk) {   }

	.section-hero__content {
		width:100%;
		display: inline-block;
		vertical-align: middle;
		background: url('img/bg-line-dot-separator-white.png') no-repeat bottom center;
		animation: none;
	}

	.section-home__footer__description {
		font-size: 1.2em;
		line-height: 1em;
		@include mq(desk) { font-size: 1.5em; }		
	}
}
