.site-product {

	.section-hero__title {
		color: #fff;
		margin-bottom: .1em;
	}

	h2 {
		color: currentColor;
		font-size: 2.25em;
		margin-bottom: .5em;
	}

	p {
		color: $base-color;
	}

	.disclaimer {
		display: block;
		line-height: 1;
	}

	.section-hero__logo {
		width: 30%;
		margin:0 auto 1.5em;
		@include mq(tablet) { width: 20%; margin:0 auto 1em; }
		@include mq(lap) { width: 30%; margin:0 auto 1.5em;}
		@include mq(desk) { }
	}
}

.fixedsticky { 
	@include mq(max-tablet) { display:none; }
	top: 74px;
}

// Section product-description
.product-menu {
	background: currentColor;
	width:100%;
	z-index: 9999;
	text-align: right;
	@include mq(tablet) { padding-left: 180px; text-align: center; padding-right: 0;}
	@include mq(lap) { padding-left: 130px;}
	@include mq(desk) {  }

	.product-menu--wrapper {
		padding: 0;
		@include mq(tablet) { padding: 1.5em 0; }
		@include mq(lap) { padding: 1.5em 5%; }
		@include mq(desk) { padding: 1.5em 0;  max-width: $max-width; margin: 0 auto;  }		
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {

		&:last-of-type {

			a {
				border-bottom: none;
				@include mq(tablet) { border-right: none;}
			}
		}		

	}

	a {
		color: #fff;
		display: block;
		border-bottom: 1px solid #fff;
		padding: .3em 1em .3em 0;
		@include mq(tablet) { padding-right: 0; width: 25%; float: left;  border-bottom: none; border-right: 1px solid #fff;}
		@include mq(lap) { }

		&:hover,
		{
			color: #dfdcc9;
		}
	}

	.sticky-menu--active {
		color: #dfdcc9;
	}

}

// Section product-description
.product-description {
	overflow: hidden;

	.product-description--wrapper {
		padding: 2em 1em;
		@include mq(tablet) { padding: 2em 2.5% 2em;}
		@include mq(lap) { padding: 2em 5% 2em; }
		@include mq(desk) { padding: 2em 0 2em;  max-width: $max-width; margin: 0 auto;  }				
	}

	.product-description__image {
		position:relative;
		margin-top: 4em;
		padding: 0;
		height: 400px;
		@extend %col-2-5;

		.product-description__image-spoon {
			position: absolute;
			z-index: 999;
			top: 90%;
			left:50%;
			width: 120%;
			transform: translate(-50%, -50%);
			max-width: none;
			@include mq(mobile) { top: 85.5%; width: 100%;}
			@include mq(tablet) { top: 95%;  }
			@include mq(lap) { top: 87.5%; }
			@include mq(desk) { top: 87.5%; width: 135%;  }
		}

		.product-description__image-seed {
			position: absolute;
			// top: 30%;
			left:50%;
			width: 80%;
			transform: translate(-50%, -50%);
			@include mq(mobile) { width: 50%; }
			@include mq(tablet) { }
			@include mq(lap) { width: 60%; }
			@include mq(desk) {  }
		}

		.product-description__image-pouch {
			position:absolute;
			// top: 50%;
			left:50%;
			width: 80%;
			transform: translate(-50%, -50%);
			@include mq(mobile) { width: 50%; }
			@include mq(tablet) { }
			@include mq(lap) { width: 60%;  }
			@include mq(desk) { }
		}

		.product-description__image-pouch--cacao {
			top: 50%;
		}

	}

	.product-description__image--spoon {
		margin-top: 1em;
	}

	.product-description__title {
		margin-top: 1em;
		color: currentColor;
		font-size: 2.5em;
		margin-bottom: .5em;

	}


	.disclaimer {
		display: block;
		line-height: 1;
		color: #959595;
		font-size: .7em;
	}

	.product-description__content {
		@extend %col-3-5;
		@include mq(tablet) { }
		@include mq(lap) { padding: 0 1em 0 3em; }
		@include mq(desk) { }
	}

	.product-description__description {
		font-size: .9em;
	}
}

// Section product-ingredients
.product-ingredients {
	position:relative;
	// background-size: cover;
	@include mq(lap) { /* background: url('img/bg-product-ingredients.png') no-repeat bottom left #efede4; */}

	//background-image
	.home-product__ingredients {
		position: absolute;
		bottom:0;
		left:0;
		margin: 0;
		display: none;
		@include mq(tablet) { }
		@include mq(lap) { display:block; max-width: 25%; }
		@include mq(desk) { max-width: 20%; }
	}

		//background-image-cacao
		.home-product__ingredients--cacao {
			@include mq(lap) { max-width: 20%; }
			@include mq(desk) { max-width: 15%; }
		}	

	.product-ingredients--wrapper {
		padding: 2em 1em 1em;
		@include mq(tablet) { padding: 2em 2.5%; }
		@include mq(lap) { padding: 3em 5% 16em; }
		@include mq(desk) { padding: 4em 5% 4em 15%; max-width: $max-width; margin: 0 auto;  }		
	}

	img {
		display: inline-block;
		// width:15%; it seems that magnify has to take it
		vertical-align: top;
		// margin-bottom: 1.5em;
		margin: 0 auto 1.5em;
		width: 50%;

		@include mq(tablet) { width: 40%; }
		@include mq(lap) { width:auto;   }
		@include mq(desk) { }
	}

	.product-ingredients__item-content {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-bottom: 1em;
		position:relative;
		@include mq(tablet) { }
		@include mq(lap) { 
			width:65%; 
			margin-left: 20%;

			&::before {
				content:"";
				@include dot-line(8em, 10%, -28%);
			}
		}
		@include mq(desk) {
			&::before {
				top: 10%;
			}
		}

	}

	.product-ingredients__item-title {
		color: $heading-color;
		font-size: 2.25em;
		text-transform: uppercase;
		margin: 0;
	}

	.product-ingredients__item-description {
		font-size: .95em;
	}
}


// Section product-nutrition
.product-nutrition {

	.product-nutrition--wrapper {
		padding: 1em 1em;
		@include mq(tablet) { padding: 2em 2.5% 2em;}
		@include mq(lap) { padding: 2em 5% 4em; }
		@include mq(desk) { padding: 2em 0 4em;  max-width: $max-width; margin: 0 auto;  }		
	}	

	.product-nutrition__image {
		padding: 0 3em;
		margin-top: 1em;
		@extend %col-2-5;
		@include mq(tablet) { }
		@include mq(lap) { margin-top: 0; }
		@include mq(desk) {  }	

		img {
			margin: 0 auto;
		}
	}

	.product-nutrition__content {
		margin-top: 1em;
		@extend %col-3-5;
		@include mq(tablet) { }
		@include mq(lap) { padding: 0 2em;}
		@include mq(desk) { }	

		p {
			font-size: .9em;
		}
	}

	.product-nutrition__disclaimer-image {
		display: inline-block;
		vertical-align: top;
		// width: 20%;
	}

	.product-nutrition__disclaimer-content {
		display: inline-block;
		vertical-align: top;
		width: 80%;
		padding-left: .5em;
	}
}

// Section product-kitchen
.product-kitchen {

	.product-kitchen--wrapper {
		padding: 1em 1em 0;
		@include mq(tablet) { padding: 2em 2.5% 2em;}
		@include mq(lap) { padding: 2em 5% 4em; }
		@include mq(desk) { padding: 6em 0 5em;  max-width: $max-width; margin: 0 auto;  }		
	}	


	.product-kitchen__recipes {
		display: inline-block;
		vertical-align: top;
		width:100%;
		@include mq(tablet) { }
		@include mq(lap) { width: percentage(1/4);  }
		@include mq(desk) { padding: 0 0 0 2em; }
	}

	.product-kitchen__recipes_100 {
		display: inline-block;
		vertical-align: top;
		width:100%;
		@include mq(tablet) { }
		@include mq(lap) {  }
		@include mq(desk) { padding: 0 4em 0; }

		.product-kitchen__recipes-item {
			position:relative;
			margin-bottom: 2em;
			@include mq(mobile) { }
			@include mq(tablet) {  }
			@include mq(lap) { 
				@include simple-grid( 3 , 5% );
			}
			@include mq(desk) { }
		}

	}

	.product-kitchen__title {
		color:$heading-color;
		position:relative;
		font-size: 2.4em;
		text-transform: uppercase;
		margin: 0;
		line-height: 1.2em;
		@include mq(tablet) { margin: 0 0 1em; line-height: 1.6em;}
		@include mq(lap) { }
		@include mq(desk) { }
	}

	.title_dotted {
		&::before {
			content:'';
			@include dot-line(100%, 100%, 0);
		}
	}

	.product-kitchen__content {
		display: inline-block;
		vertical-align: top;
		width:100%;
		@include mq(tablet) { margin: 0; padding: 0 2em;}
		@include mq(lap) { width: percentage(3/4);  }
		@include mq(desk) { }

		.product-kitchen__content-wrapper {
			margin-top: 1em;
			@include mq(tablet) { margin: 0; }
			@include mq(lap) { }
			@include mq(desk) { }
		}

		.product-kitchen__content-image {
			vertical-align: middle;
			@extend %col-1-3;

			img {
				margin: 0 auto;
			}
		}

		.product-kitchen__description {
			vertical-align: middle;
			@extend %col-2-3;
			@include mq(tablet) { /*margin-bottom: 1.5em;*/ padding: 0 1em;}
			@include mq(lap) { }
			@include mq(desk) { }
		}
	}

	.product-kitchen__disclaimer {
		margin: 1.5em 0 0;
		@include mq(tablet) { width: 60%; }
		@include mq(lap) { }
		@include mq(desk) { }
	}

	.product-kitchen__recipes-wrapper {
		margin-top: 1em;
		text-align: center;
		@include mq(tablet) { margin-top: 0;}
	}

	.product-kitchen__recipes-item {
		margin-bottom: 2em;
		@include mq(mobile) { 
			@include simple-grid( 2 , 5% );
		}
		@include mq(tablet) {  }
		@include mq(lap) { width: 100%; }
		@include mq(desk) { }

		a {
			position:relative;
			display: block;

			&:hover {
				cursor:pointer;

				&::before {
					// background: rgba(57, 110, 75, 0); //old green backgroun
					background: rgba(0, 0, 0, 0);
				}

				span {
					opacity: 0;
				}

			}

			&::before {
				content:'';
				position: absolute;
				// background: rgba(57, 110, 75, .6);
				background: rgba(0, 0, 0, .4);
				top: 0;
				left:0;
				bottom:0;
				width:100%;
				transition: .3s all;
			}

		}

		span {
			color:#fff;
			text-align: center;
			@extend %center;
			@include mq(lap) { width: 80%; margin: 0 auto;}
			@include mq(desk) { width: auto; }
		}

		img {
			width:100%;
		}
	}
}
