// Section origin - packing

.quality {
	background: #efede4;
	padding: 1em .5em;
	@include mq(tablet) { padding: 2em 2.5%; }
	@include mq(lap) { padding: 3em 5%; }
	@include mq(desk) { padding: 5em 10%; }


	.quality-description__wrapper {
	    margin-bottom: .5em;
	    @include mq(tablet) { margin-bottom: 2em; }
		@include mq(lap) { }
		@include mq(desk) { }
	}

	.quality-description__image {
		padding: 0 .5em .5em;
		@extend %col-2-5;
		@include mq(tablet) { padding: 1em 2em; }
		@include mq(lap) { }
		@include mq(desk) { }

		img {
			margin: 0 auto;
			@include mq(tablet) { }
			@include mq(lap) { }
			@include mq(desk) { }
		}
	}

	.quality-description__content {
		padding: 0 .5em;
		@extend %col-3-5;
		@include mq(tablet) { padding: 0 2em; }
		@include mq(lap) { }
		@include mq(desk) { }
	}

	.quality__title {
		color:$primary;
		position:relative;
		margin: 0em 0 0.7em;
		padding-bottom: 0.2em;
		line-height: 1.15em;
		font-size: 2.4em;
		text-transform: uppercase;
		text-align: center;
		@include mq(tablet) { line-height: inherit;  }
		@include mq(lap) { text-align: left; }
		@include mq(desk) { }
	}

	.title_dotted {
		&::before {
			content:'';
			@include dot-line(100%, 100%, 0);
		}
	}
	
}

// Section quality-certifications

.quality-certifications {
	background: #efede4;
	padding: 1em .5em;
	@include mq(tablet) { padding: 2em 2.5% 1em; }
	@include mq(lap) { padding: 5em 5%; }
	@include mq(desk) { padding: 5em 10%; }

	.quality-certifications__introduction {
		color: $primary;
		font-size: 1.1em;
		text-align: center;
		@include mq(tablet) { width:70%; margin:0 auto 3em; }
		@include mq(lap) {  }
		@include mq(desk) { }		
	}

	.quality-certifications__wrapper {
		margin-bottom: 1em;
		padding: 0;
	    @extend %col-1-3;
	    @include mq(tablet) { padding: 0 1em; margin-bottom: 1em; }
		@include mq(lap) { margin-bottom: 2em; }
		@include mq(desk) { }
	}

	.quality-certifications__pictitle {
		margin-bottom: 1em;
		// padding-bottom: .5em;
		position: relative;
		text-align: center;
		@include mq(tablet) { text-align: left;}
		@include mq(lap) { }
		@include mq(desk) { }

		.quality-certifications__pictitle--img {
			margin-bottom: 1em;
			@extend %col-1-4;
			@include mq(tablet) { }
			@include mq(lap) { padding-right: 1em; margin-bottom: 0; }
			@include mq(desk) { }

			img {
				margin: 0 auto;
				@include mq(tablet) { }
				@include mq(lap) { }
				@include mq(desk) { }
			}
		}

		h3 {
			line-height: 1;
			margin-bottom: 0.25em;
		}
	}

	.quality__title {
		color:$primary;
		position:relative;
		margin: 0em 0 0.25em;
		padding-bottom: 0.2em;
		font-size: 2.4em;
		text-transform: uppercase;
		text-align: center;
		@extend %col-3-4;
		@include mq(tablet) { }
		@include mq(lap) { text-align: left;  }
		@include mq(desk) { }
	}

	.title_dotted {
		&::before {
			content:'';
			@include dot-line(100%, 100%, 0);
		}
	}

	.quality-certifications__disclaimer {
		// width:80%;
		margin:2em auto 0;
		font-size: .9em;
		text-align: center;
		text-transform: uppercase;
		font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
	}
	
}
