.site-recipes {
	background: url('img/bg-recipe-wood.jpg') repeat;
	background-size: cover;
	padding: 9em 0 0;
	@include mq(mobile) { padding: 6em 0 0; }
	@include mq(tablet) {  }
	@include mq(lap) { padding: 8em 0 0; }
	@include mq(desk) { padding: 8em 0 0; }


	.site-recipes--wrapper {
		padding-bottom: 4em;
		@include mq(lap) { padding-bottom: 2em; }
		@include mq(desk) { max-width: $max-width; margin: 0 auto;  padding-bottom: 4em; }
	}

	.flexslider .slides .slides-img {
		display: inline-block;
		vertical-align: top;
		width:100%;
		@include mq(tablet) { }
		@include mq(lap) { /*width:50%; padding: 0 7.5%; */}
		@include mq(desk) { width:55%; margin-top: 3em; padding: 0 7.5%;}

		img {
			width: auto;
			// max-width: 80%;
			max-width: 300px;
			margin: 0 auto;
			@include mq(mobile) { /* max-width: 60%; */ max-width: 350px;}
			@include mq(tablet) { /* max-width: 40%; */ max-width: 380px;}
			@include mq(lap) { width: auto; }
			@include mq(desk) { width: auto; max-width: 100%; }
		}
	}

	.recipes__description {
		font-size: .85em;
		vertical-align: top;
		display: inline-block;
		width:95%;
		margin: 6em 2.5% 0;
		padding: 2em;
		background: rgba(255,255,255,0.5);
		@include mq(tablet) { }
		@include mq(lap) { /* width:45%; margin: 0 2.5%; padding: 2em; */ width: 80%; margin: 6em 10% 0; }
		@include mq(desk) { width:45%; margin: 0; padding: 3em; }
	}

	.recipes__title {
		color: currentColor;
		font-size: 3em;
		text-transform: uppercase;
		text-align: center;
		@include mq(tablet) { text-align: left; }
	}

	.recipes__overview {
		font-size: 1.15em;
		color: currentColor;
		font-weight: 700;
	}

	.recipes__content {
		color: #818285;
		font-size: 1.2em;

		p {
			margin: 0;
		}
	}

	//modifications CSS flexslider
	.flex-direction-nav {
		// padding: 1em 1em 0;
		@include mq(tablet) {  }
		@include mq(lap) { }
		@include mq(desk) { /* padding: 0; */ }	
	}

	.flex-direction-nav li {
		display: inline-block;
		width: 50%;
		text-align: center;
		@include mq(tablet) { }
		@include mq(lap) {  }
		@include mq(desk) { }	
	}


	.flex-direction-nav a {
		position: absolute;
		top: 22%;
		@include mq(mobile) { top: 29%; }
		@include mq(tablet) { top: 32%; }
		@include mq(lap) { }
		@include mq(desk) { }	
	}

	.flex-direction-nav .flex-prev {
		left:10%;
		@include mq(lap) { left: 25%; }
		@include mq(desk) { left: 2.5%; }
	}

	.flex-direction-nav .flex-next {
		right: 10%;
		@include mq(lap) { right: 25%; }		
		@include mq(desk) { right: 47.5%; }
	}

	.flexslider:hover .flex-direction-nav .flex-prev {
		left: 12%;
		@include mq(lap) { left: 23%; }
		@include mq(desk) { left: 2%; }		
	}
	.flexslider:hover .flex-direction-nav .flex-next {
		right: 12%;
		@include mq(lap) { right: 23%; }
		@include mq(desk) { right: 47%; }
	}

	.flex-control-thumbs {
		display: none;
		@include mq(tablet) { }
		@include mq(lap) { /*display: block; margin-top: 2em; width: 80%; */}
		@include mq(desk) { display: block; width: 55%; margin-top: -7.5em;}	

		li {
			display: inline-block;
			float: none;
			padding: 0 .25em;
			@include mq(tablet) { padding: 0 1em; }
			@include mq(lap) { }
			@include mq(desk) { }
		}
	}

}