.site-recipes {
	background: url('img/bg-recipe-wood.jpg') repeat;
	padding: 11em 0 1em;


	.flexslider .slides .slides-img {
		display: inline-block;
		width:50%;
		vertical-align: top;
		padding: 0 7.5%;

		img {
			width:100%;
			margin:0;
		}
	}

	.recipes__description {
		display: inline-block;
		width:50%;
		vertical-align: top;
		padding: 0 7.5%;
		font-size: .85em;
	}

	.recipes__title {
		color:$heading-color;
		font-size: 3em;
		text-transform: uppercase;
	}

	.recipes__overview {
		color:$heading-color;
		font-weight: 700;
	}

	.recipes__content {
		color: #4a2904;

		p {
			margin: 0;
		}
	}

	//modifications CSS flexslider
	.flex-direction-nav a {
		top: 35%;
	}

	.flex-direction-nav .flex-prev {
		left: 2.5%;
	}

	.flex-direction-nav .flex-next {
		right: 52.5%;
	}

	.flexslider:hover .flex-direction-nav .flex-prev {
		left: 2%;
	}
	.flexslider:hover .flex-direction-nav .flex-next {
		right: 52%;
	}

	.flex-control-thumbs {
		width:50%;

		li {
			display: inline-block;
			float: none;
			padding: 0 1em;
		}
	}

}

.recipe__item {

}
