.site-recipes {
	background: url('img/bg-recipe-wood.jpg') repeat;
	background-size: cover;
	padding: 9em 0 1em;
	@include mq(mobile) { padding: 6em 0 1em; }
	@include mq(tablet) {  }
	@include mq(lap) { padding: 11em 0 1em; }
	@include mq(desk) { }


	.site-recipes--wrapper {
		@include mq(desk) { max-width: $max-width; margin: 0 auto;  }
	}

	.flexslider .slides .slides-img {
		display: inline-block;
		vertical-align: top;
		width:100%;
		@include mq(tablet) { }
		@include mq(lap) { width:50%; padding: 0 7.5%; }
		@include mq(desk) { }

		img {
			width: auto;
			max-width: 80%;
			margin: 0 auto;
			@include mq(mobile) { max-width: 60%; }
			@include mq(tablet) { width:50%; }
			@include mq(lap) { width: auto; max-width: 100%; }
			@include mq(desk) { width: auto; }
		}
	}

	.recipes__description {
		margin-top: 1em;
		padding: 0 7.5%;
		font-size: .85em;
		vertical-align: top;
		display: inline-block;
		width:100%;
		@include mq(tablet) { }
		@include mq(lap) { width:50%; margin-top: 0; padding: 0 2.5%;}
		@include mq(desk) { padding: 0 7.5%; }
	}

	.recipes__title {
		color:$heading-color;
		font-size: 3em;
		text-transform: uppercase;
		text-align: center;
		@include mq(tablet) { text-align: left; }
	}

	.recipes__overview {
		color:$heading-color;
		font-weight: 700;
	}

	.recipes__content {
		color: #4a2904;
		font-size: 1.2em;

		p {
			margin: 0;
		}
	}

	//modifications CSS flexslider
	.flex-direction-nav {
		padding: 1em 1em 0;
		@include mq(tablet) { padding: 0; }
		@include mq(lap) { }
		@include mq(desk) { }	
	}

	.flex-direction-nav li {
		display: inline-block;
		width: 50%;
		text-align: center;
		@include mq(tablet) { }
		@include mq(lap) {  }
		@include mq(desk) { }	
	}


	.flex-direction-nav a {
		position: static;
		@include mq(tablet) { }
		@include mq(lap) { position: absolute; top: 48%; }
		@include mq(desk) {top: 23%; }	
	}

	.flex-direction-nav .flex-prev {
		left: 2.5%;
	}

	.flex-direction-nav .flex-next {
		right: 52.5%;
	}

	.flexslider:hover .flex-direction-nav .flex-prev {
		left: 2%;
	}
	.flexslider:hover .flex-direction-nav .flex-next {
		right: 52%;
	}

	.flex-control-thumbs {
		display: none;
		@include mq(tablet) { }
		@include mq(lap) { display: block; margin-top: 2em; width: 80%;}
		@include mq(desk) { width: 50%; margin-top: .5em;}	

		li {
			display: inline-block;
			float: none;
			padding: 0 .25em;
			@include mq(tablet) { padding: 0 1em; }
			@include mq(lap) { }
			@include mq(desk) { }
		}
	}

}

.recipe__item {

}
