.search-input {
	border: 1px solid $secondary;
	@include mq(tablet) { margin-top: 0.5em; width: 74%;}
	@include mq(lap) { margin-top: 0; width:75%; }	
	@include mq(desk) { width: 10em; }
}

input[type=submit].icon-search {
	color: #fff;
	background: url('img/icon-search.svg') no-repeat center center;
	z-index: 90;
	text-indent: -9999px;
	@include mq(tablet) { float:right; }
	@include mq(lap) { float:none;  }	
	@include mq(desk) {}
}
