.site-header {
	position: fixed;
	left: 50%;
	z-index: 99999;
	transform: translate(-50%, 0);
	height: 76px;
	width: 100%;
	background: url('img/bg-nav-bar.png') no-repeat left bottom;
	@include mq(tablet) { }
	@include mq(lap) { }	
	@include mq(desk) { /* max-width: $max-width; margin: 0 auto; */ padding-bottom: 3em; }

	&::after {
		content:'';
		position:absolute;
		z-index: -2;
		top: 76px;
		height:71px;
		width: 234px;
		background: url('img/bg-nav-bar--bottom.png') no-repeat;

		// filter: drop-shadow(20px 0 0 #222); 

	}

	.site-title {
		text-indent: -9999px;
		margin: 1.4em 0 0 1em;
		@include mq(tablet) { }
		@include mq(lap) { }
		@include mq(desk) {  }

		a {
			display: block;
			background: url('img/logo-volupta.svg') no-repeat center center;
			height:64px;
			width:115px;
		}
	}

	.site-description {
		text-indent: -9999px;
	}

	.site-branding {
		width: 50%;
		display: inline-block;
		@include mq(tablet) { width: 25%;}
		@include mq(lap) { }
		@include mq(desk) { }	
	}

	.navigation-wrapper {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		text-align: right;
		padding-right: 1em;
		@include mq(tablet) { width:75%; padding-right: .5em;}	
		@include mq(desk) { padding-right: 2em; }	
	}

	.main-navigation {
		display: inline-block;
		vertical-align: top;
    	text-align: right;
		@include mq(tablet) { margin-top: 1em; width:75%; padding-right: 0; }
		@include mq(lap) { /*padding-left: 2em; padding-right: 4em;*/}
		@include mq(desk) { margin-top: 1.5em; padding-left: 0; padding-right: 1em;  }	
	}
	
	.site-search {
		width: 25%;
		display: none;
		vertical-align: top;
		margin-top: 1em;
		@include mq(tablet) { display: inline-block; width:25%; padding: 0 0 0 .5em;}
		@include mq(lap) {  }	
		@include mq(desk) { width:auto; padding: 0;}
	}
}

.postid-211 {

	.site-header {

		background: url('img/bg-nav-bar--mango.png') no-repeat left bottom;

		&::after {
			background: url('img/bg-nav-bar--bottom--mango.png') no-repeat;
		}
	}
}

.postid-208 {

	.site-header {

		background: url('img/bg-nav-bar--beet.png') no-repeat left bottom;

		&::after {
			background: url('img/bg-nav-bar--bottom--beet.png') no-repeat;
		}
	}
}