.site-header {
	position: fixed;
	left: 50%;
	z-index: 99999;
	transform: translate(-50%, 0);
	height: 75px;
	width: 100%;
	background: url('img/bg-nav-bar.png') no-repeat left bottom;
	@include mq(tablet) { }
	@include mq(lap) { }	
	@include mq(desk) { max-width: $max-width; margin: 0 auto; padding-bottom: 3em; }

	&::after {
		content:'';
		position:absolute;
		z-index: -1;
		top: 75px;
		height:72px;
		width: 234px;
		background: url('img/bg-nav-bar--bottom.png') no-repeat;
	}

	.site-title {
		text-indent: -9999px;
		margin: 1.4em 0 0 1em;
		@include mq(tablet) { }
		@include mq(lap) { }
		@include mq(desk) {  }

		a {
			display: block;
			background: url('img/logo-volupta.svg') no-repeat center center;
			height:64px;
			width:115px;
		}
	}

	.site-description {
		text-indent: -9999px;
	}

	.site-branding {
		width: 50%;
		display: inline-block;
		@include mq(tablet) { width: 25%;}
		@include mq(lap) { }
		@include mq(desk) { }	
	}

	.main-navigation {
		width:50%;
		display: inline-block;
		vertical-align: top;
		margin-top: 0em;
    	text-align: right;
		@include mq(tablet) { margin-top: 1em; padding-left: 1em; width:55%; padding-right: 0; }
		@include mq(lap) { padding-left: 2em; padding-right: 4em;}
		@include mq(desk) { margin-top: 1.5em; padding-left: 0; width:50%; padding-right: 1em;  }	
	}
	
	.site-search {
		width: 25%;
		display: none;
		vertical-align: top;
		margin-top: 1em;
		@include mq(tablet) { display: inline-block; width:20%; padding: 0 .5em;}
		@include mq(lap) {  }	
		@include mq(desk) { width:25%; padding: 0;}
	}
}