.line-separator {
	position: relative;
	padding-bottom: 1em;
	width: 100%;
	border-top: 1px solid;	
}

.point-separator {
	// position: absolute;
	// top: 50%;
	// left: -30%;
	// width: 8em;
 //    border-top: 1px dotted;
}

.separator {
	position: relative;
	padding-top: 1em;
	width: 4em;
	margin: 0 auto;
	border-top: 1px solid;	
}

.overlay {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: .3s all;
}

.overlay--off {
	background: rgba(0,0,0,.5);
}

.overlay--on {
	background: rgba(0,0,0,0);
}

%center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%vertical-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

%horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}