//========================
// legend
//========================

%legend {
	font-family: 'gotham_bookregular';
	border: 2px solid;
	border-color: currentColor;
	padding: 1em 2em;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	@include mq(tablet) { min-width: 200px; }
}

.legend-white {
	color: #fff;
	@extend %legend;
}

.legend--inline-block {
	color: #666;
	display: inline-block;
	width: auto;
	margin: 0 auto;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: inherit;
	padding: 1em 0;
	text-transform: uppercase;
	transition: .3s all;

	&:hover {
		padding: 1.5em 0;
	}
}

.legend--button {
	font-family: 'gotham_mediumregular';
	font-size: 1.1em;
	@include mq(tablet) { font-size: 1.35em;}
}

.button--arrow {
	padding-left:1em;
	position: relative;
	text-align: center;

	&::before {
		content : '';
		position: absolute;
		left:0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #000;
		transition: .2s all;
		@extend %vertical-center;
	}	
}

%border {
	border: 2px solid;
	text-transform: uppercase;
}


.separator {
	position: relative;
	padding-top: 1em;
	width: 4em;
	margin: 0 auto;
	border-top: 1px solid;	
}

.overlay {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: .3s all;
}

.overlay--off {
	background: rgba(0,0,0,.5);
}

.overlay--on {
	background: rgba(0,0,0,0);
}

%center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%vertical-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

%horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}