//hero section at the top of everypage
.section-hero {
	height: 350px;
	color:#fff;
	text-align: center;
	padding: 12em 0 0;

	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;

	@include mq(tablet) {  height: 400px; }
	@include mq(lap) { padding: 14em 0 0; height: 500px; }
	@include mq(desk) { padding: 18em 0 0; height: 650px; }

	.product-hero--wrapper {
		padding: 0;
		@include mq(tablet) { }
		@include mq(lap) { }
		@include mq(desk) { max-width: $max-width; margin: 0 auto;  }		
	}

	.section-hero__content {
		width:100%;
		display: inline-block;
		vertical-align: middle;
		// float: left;
		background: url('img/bg-line-dot-separator-white.png') no-repeat bottom center;
		animation: intro 5s;

		h2 {
			color:#fff;
			font-size: 2.5em;
			text-transform: uppercase;
			text-shadow: 2px 2px 3px rgba(0,0,0,.5);
			@include mq(tablet) { font-size: 4em;}
			@include mq(lap) { }
			@include mq(desk) { }	
		}

		p {
			font-size: 1.5em;
			text-shadow: 2px 2px 3px rgba(0,0,0,.5)
		}
	}
}

// Section home page default
.section-default { 
	background: url('img/home-hero.jpg') no-repeat center center;
	background-size: cover;
	border-bottom: 14px solid $primary;
}

// Section product-hero
.product-hero {

	padding: 11em 0 0;
	height: 500px;

	@include mq(tablet) { padding: 10em 0 0; height: 400px; }
	@include mq(lap) { padding: 14em 0 0;  height: 600px; }
	@include mq(desk) {  padding: 16em 0 0; height: 650px; }		

	.product-hero__content {
		padding: 0 .5em; 
		
		@include mq(tablet) { padding: 0 1em; }
		@include mq(lap) { width:55%; float: left;  }
		@include mq(desk) { width:50%;   }	

		.section-hero__title {
			margin-bottom: .5em;
			@include mq(tablet) { margin-bottom: 0; }
			@include mq(lap) {  }
			@include mq(desk) { }
		}	

		p {
			font-size: 1.2em;
			line-height: 1.4em;
			@include mq(tablet) { line-height: 1.6em; }
			@include mq(lap) {  }
			@include mq(desk) { }
		}
	}
}

// Section About-hero
.about-hero {

	@include mq(tablet) { padding: 12em 0 0; }
	@include mq(lap) { padding: 17em 0; }
	@include mq(desk) { padding: 20em 0; }		
}

// Section Quality-hero
.quality-hero {
	
	@include mq(tablet) { padding: 12em 0 0; }
	@include mq(lap) { padding: 17em 0; }
	@include mq(desk) {padding: 20em 0; }		

	//quality page
	.quality-hero__content {
		padding:0 .5em;
		@include mq(tablet) { }
		@include mq(lap) {  width:60%; margin: auto; }
		@include mq(desk) { width:50%; margin: auto; }

		p {
			font-size: 1.25em;
		}
	}
}