.nav-infinite {
	background: #fff;

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		width: 50%;
		padding: 2.5em 1em;
		// font-properties
		font-family: 'Veneer W03 Regular';
		font-weight: normal;
		color:$heading-color;
		text-transform: uppercase;
		font-size: 2.4em;

		&:first-child {
			text-align: right;
			border-right: 1px solid #f2f2f2;
		}

		&:last-child {
			text-align: left;
		}
	}
}