.nav-infinite {

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		// font-properties
		font-family: 'Veneer W03 Regular';
		font-weight: normal;
		color:$heading-color;
		text-transform: uppercase;
		font-size: 1.5em;
		@include mq(tablet) { font-size: 2.5em; }

		&:first-child {
			text-align: right;
			border-right: 1px solid #f2f2f2;
		}

		&:last-child {
			text-align: left;

			a {

				&::before {
					transform: rotate(180deg);
					left: 80%;
					top: 40%;
				}
			}
		}	
	}

	span {
		display:block;
		line-height: 1em;
		transition: .6s all;
	}

	.disclaimer {
		display: block;
		line-height: 1;
		color: #959595;
		font-size: .7em;
	}

	//span for recipes page
	.disclaimer-recipes {
		display:block;
		line-height: 1em;
		color: #959595;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size: .7em;
		transition: .6s all;
		@include mq(tablet) { }	
	}

	a {
		position: relative;
		display:block;
		color: currentColor;
		padding: 1em .3em;
		min-height: 112px;
		background: url('img/bg-recipe-wood-transparent.png') repeat #fff;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: .3s all;
		@include mq(tablet) { padding: 2.5em 1em; min-height: 310px; }


		&:hover {
			background: currentColor;
			
			span {
				color:#fff;
			}

		}

		&::before {
			@include mq(tablet) {
				content: '';
				width: 59px;
				height: 59px;
				position: absolute;
				top: 50%;
			    transform: translateY(-50%);
				right: 80%;
				z-index: 10;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				background: url('img/slider-arrow.svg') repeat;
			}
		}		
	
	}
}


