.nav-infinite {

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: inline-block;
		width: 50%;
		// font-properties
		font-family: 'Veneer W03 Regular';
		font-weight: normal;
		color:$heading-color;
		text-transform: uppercase;
		font-size: 2.5em;

		&:first-child {
			text-align: right;
			border-right: 1px solid #f2f2f2;
		}

		&:last-child {
			text-align: left;

			a {

				&::before {
					transform: rotate(180deg);
					left: 80%;
				}
			}
		}	
	}

	span {
		transition: .6s all;
	}

	//span for recipes page
	.disclaimer-recipes {
		display:block;
		line-height: 1em;
		margin-top: -0.4em;
		color: #959595;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size: .7em;
		transition: .6s all;	
	}

	a {
		position: relative;
		display:block;
		color: currentColor;
		padding: 2.5em 1em;
		background: #fff;
		transition: .3s all;

		&:hover {
			background:currentColor;
			
			span {
				color:#fff;
			}

		}

		&::before {
			content: '';
			width: 59px;
			height: 59px;
			position: absolute;
			top: 50%;
		    transform: translateY(-50%);
			right: 80%;
			z-index: 10;
			cursor: pointer;
			background: url('img/slider-arrow.svg') repeat;
			transition: all 0.3s ease-in-out;
		}		
	
	}
}


