/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	// float: left;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0 .25em;
	@include mq(tablet) {padding: 0; display:flex; justify-content: space-between; }
	@include mq(desk) { display: inline-block; }
}

.main-navigation li {
	position: relative;
	width:100%;
	text-align: center;
	padding: 1em 0;
	@include mq(tablet) { float: left; width:auto; padding: .5em 0.5em 2em;}
	@include mq(lap) { padding: .5em 0.5em 2em; }
	@include mq(desk) { float: left; width:auto; padding: 0 2em 1.5em; }	
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-size: 1.25em;
	color:#fff;
	transition:.2s all;
	@include mq(tablet) { color:$base-color; font-size: 0.8em;}
	@include mq(lap) { }
	@include mq(desk) { }
}


.main-navigation ul ul {
	display: none;
	@include mq(tablet) { 
		display: inline-block;
		top: 3em;
		position: absolute;
		left: -999em;
		z-index: 99999;
		background: rgba(255, 255, 255, 0.8);
		padding: 1em 0;
	}
	@include mq(lap) { }
	@include mq(desk) { top: 2.5em; }

	.menu-item-216 a, .menu-item-245 a {
		color:$mango;
	}

	.menu-item-217 a, .menu-item-246 a {
		color:$beet;
	}

	.menu-item-1159 a, .menu-item-905 a {
		color:$white-dragon;
	}		

	// .menu-item-904 a, .menu-item-905 a {
	// 	color:$dragon;
	// }

	.menu-item-1198 a, .menu-item-1199 a {
		color:$cacao;
	}

	.menu-item-1279 a, .menu-item-1276 a {
		color:$goji;
	}

	.menu-item-1278 a, .menu-item-1275 a {
		color:$yeast;
	}

	.menu-item-1277 a, .menu-item-1274 a {
		color:$shitake;
	}
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	display:block;
	@include mq(tablet) { width: 225px; }
	@include mq(lap) { width: 250px; }
}

.main-navigation ul ul li {
	text-align: center;
	padding: .15em 0;
	@include mq(tablet) {
		padding: .25em 1em .25em 1em;
		text-align: left;
	}
	@include mq(lap) { padding: .25em 1em .25em 1.5em; }	
	@include mq(desk) { padding: .25em 1em .25em 2em; }	
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	color:currentColor;
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	display:block;
	left: -0.5em;
	@include mq(lap) { left: -1em; }
	@include mq(desk) { left: 0; }
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color:currentColor;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .menu-menu-principal-container > ul {
	display: block;
}

.main-navigation.toggled ul {
	width:100%;
}

.nav-menu {
	position:absolute;
	@extend %center;
	@include mq(tablet) { position:static; transform: translate(0, 0); }
	@include mq(lap) { }
	@include mq(desk) { }		
}

.menu-menu-principal-container {
	
	transition: .2s all;
}

.menu-toggle {
	font-size: 2em;
	margin-top: 0.2em;
	display: inline-block;
	color: $secondary;
	padding: 0;
}

.toggled {

	.menu-menu-principal-container {
		background: rgba(0,0,0,.8);
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		display: block;
		height: 100vh;
		z-index: -1;
	}

	.menu-toggle {
		color:#fff;
	}
}



@media screen and (min-width: $break-point-tablet) {
	.menu-toggle {
		display: none;
	}
}
