.site-page {
	

	.section-hero {
		height: 450px;
	}

	.page-wrapper {
		padding: 4em 4em 2em;
	}

	.page-header {
		margin-bottom: 2em;
	}

	h1, h2 {
		font-size: 2.5em;
	}

	.entry-title a {
		color: $primary;
		font-size: .75em;
		transition: .2s all;

		&:hover {
			color: $secondary;
		}
	}
}