.site-page {
	

	.section-hero {
		height: 450px;
	}

	.page-wrapper {
		padding: 2em 1em 0;
		@include mq(tablet) { padding: 2em 2.5% 0; }
		@include mq(lap) { padding: 4em 10%; }
		@include mq(desk) { padding: 4em 5% 4em 0; max-width: $max-width; margin: 0 auto;  }
	}

	.page-header {
		margin-bottom: 2em;
	}

	h1, h2 {
		font-size: 2.5em;
	}

	.entry-title a {
		color: $primary;
		font-size: .75em;
		transition: .2s all;

		&:hover {
			color: $secondary;
		}
	}
}