.nav-products {
	padding: 3em 0 1em;
	// border-top: 10px white solid;
	@include mq(mobile) { padding: 3em 2em 1em; }
	@include mq(tablet) { padding: 3em 2em 1em; }
	@include mq(lap) { padding: 3em 3em 1em; }
	@include mq(desk) { padding: 3em 4em 1em;}  

	.section-nav__title {
		color: #fff;
		font-family: 'Nexa Rust Script L W00_00';
		font-size: 3em;
		line-height: 1.1em;
		margin: 0 0 .3em;
		padding-bottom: .3em;
		text-align: center;
		background: url(img/bg-line-dot-separator-white.png) bottom center no-repeat;
	}

	// a {
	// 	position: relative;
	// 	display:block;
	// 	padding: 1em 0;	
	// }	

	//=============================
	//=====   FlexSlider Horizontal
	//=============================
	.loading .flex-viewport {
		max-height: 400px;
	}

	.flexslider-wrapper {
		max-width: 1250px; margin: 0 auto;
	}	


	.flexslider .slides img {
		width: auto;
		display: block;
		margin: 0 auto;
		max-width: 60%;
		@include mq(mobile) { max-width: 70%; }
		@include mq(tablet) { }
		@include mq(lap) { }
		@include mq(desk) { }  		
	}

	.flex-direction-nav a {
		background: url('img/slider-arrow-small.svg') repeat;
		top: 45%;
		@include mq(mobile) { top: 40%; }
		@include mq(tablet) { top: 45%; }
		@include mq(lap) { }
		@include mq(desk) { }  
	}

	.flex-direction-nav .flex-prev {
		left: -2%;
		@include mq(mobile) { left: -6%; }
		@include mq(tablet) { left: -3%; }
		@include mq(lap) { }
		@include mq(desk) { }  
	}
	.flex-direction-nav .flex-next {
		transform: rotate(180deg);
		right: -2%;
		@include mq(mobile) { right: -6%; }
		@include mq(tablet) { right: -3%; }
		@include mq(lap) {  }
		@include mq(desk) { }    
	}
	.flexslider:hover .flex-direction-nav .flex-prev {
		left: -1%;
		@include mq(mobile) { left: -5%; }
		@include mq(tablet) { left: -4%; }
		@include mq(lap) { }
		@include mq(desk) { }    
	}

	.flexslider:hover .flex-direction-nav .flex-next {
		right: -1%;
		@include mq(mobile) { right: -5%; }
		@include mq(tablet) { right: -4%; }
		@include mq(lap) { }
		@include mq(desk) { }      
	}

}


