.site {
	width: 100%;
	// padding-bottom: .5em;
	position: relative;
	@include mq(tablet) { width: 100%; }
	@include mq(lap) { }
	@include mq(desk) { max-width: $max-width; margin: 0 auto; position: relative;}
}

%col-2-5 {
	display: inline-block;
	vertical-align: top;
	width:40%;	
}

%col-3-5 {
	display: inline-block;
	vertical-align: top;
	width:60%;	
}


%col-1-2 {
	display: inline-block;
	vertical-align: top;
	width:50%;	
}

%col-1-3 {
	display: inline-block;
	vertical-align: top;
	width: percentage(1/3);
}

%col-2-3 {
	display: inline-block;
	vertical-align: top;
	width: percentage(2/3);
}

