// SET UP YOUR VARIABLES IN THIS FILE
//Breakpoints

$max-width : 1150px;

$break-point-mobile: 440px;
$break-point-tablet : 700px;
$break-point-lap : 850px;
$break-point-desk : 1200px;

//Breakpoints grid 
$breakpoints: (
	'phone' '(max-width: 600px)',
	'tablet' '(min-width: 600px) and (max-width: 800px)',
	'lap' '(min-width: 800px) and (max-width: 1000px)',
	'desk' '(min-width: 1000px)'
);

// Colours
// ------------------------------------------------------------

$primary							: rgb(69,151,144); //459790
$secondary							: rgb(129,130,133); 
$tertiary							: rgb(229,227,212);

$mango								: rgb(236,155,22); //#EC9B16
$beet								: rgb(189,49,86);  //#BD3156
$dragon								: rgb(244,122,177); //#F47AB1
$white-dragon						: rgb(214,28,90); //#d61c5a
$cacao								: rgb(180,125,94); //#b47d5e



$backgroung-color					: #efede4;
// Assign colours to variable roles
$base-color							: $secondary;
// $heading-color						: rgb(0,110,99);
$heading-color						: rgb(40,117,104);
$secondary-heading-color			: $tertiary;

//headers
$typl8-heading-color: $secondary;
$typl8-copy-color: $secondary !default;

// Links
$action								: $primary;
$action-respond						: $secondary;
$secondary-action					: $action-respond;
$secondary-action-respond			: $action;