// SET UP YOUR VARIABLES IN THIS FILE
//Breakpoints

$max-width : 1200px;

$break-point-tablet : 600px;
$break-point-lap : 800px;
$break-point-desk : 1061px;

//Breakpoints grid 
$breakpoints: (
	'phone' '(max-width: 600px)',
	'tablet' '(min-width: 600px) and (max-width: 800px)',
	'lap' '(min-width: 800px) and (max-width: 1000px)',
	'desk' '(min-width: 1000px)'
);

// Colours
// ------------------------------------------------------------

$primary							: rgb(69,151,144);
$secondary							: rgb(129,130,133);
$tertiary							: rgb(229,227,212);
// Assign colours to variable roles
$base-color							: $secondary;
$heading-color						: rgb(0,110,99);
$secondary-heading-color			: $tertiary;

//headers
$typl8-heading-color: $secondary;
$typl8-copy-color: $secondary !default;

// Links
$action								: $primary;
$action-respond						: $secondary;
$secondary-action					: $action-respond;
$secondary-action-respond			: $action;